#mitologico{
    text-align: center;
}

div{
    width: 75px;
    height: 80px;
}

#btn-size-7, #btn-size-8, #btn-size-9, #btn-size-vezes {
  width: 75px;
  height: 80px;
  font-size: 18px;
  margin: 1px;
}

#btn-size-4, #btn-size-5, #btn-size-6, #btn-size-menos {
    width: 75px;
    height: 80px;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 1px;
}

#btn-size-1, #btn-size-2, #btn-size-3, #btn-size-mais {
    width: 75px;
    height: 80px;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 1px;
}

#btn-size-virgula, #btn-size-dividir {
    width: 75px;
    height: 80px;
    font-size: 18px;
    margin-top: 7px;
    margin-left: 1px;
}

#btn-size-0 {
    width: 162px;
    height: 80px;
    font-size: 18px;
    margin-top: 7px;
    margin-left: 1px;
}

#btn-size-igual, #btn-size-clear {
    width: 162px;
    height: 80px;
    font-size: 18px;
    margin-top: 9px;
    margin-left: 1px;
}

